<% if Member.find_by(:email =>current_admin.email).admin? %>
<h1>Editing Due</h1>

<%= render 'form', due: @due %>

<%= link_to 'Delete', @due, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Show', @due, class:"btn btn-outline-dark btn-sm" %>
<%= link_to 'Back', dues_path, class:"btn btn-outline-dark btn-sm" %>
<% else %>
status: 403 'Forbidden'
<% end %>