<% if Member.find_by(:email =>current_admin.email).admin? %>
<h1>Editing Attendance</h1>

<%= render 'form', attendance: @attendance %>

<%= link_to 'Delete', @attendance, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>\
<br><br>
<%= link_to 'Show', @attendance, class:"btn btn-outline-dark btn-sm" %> 
<%= link_to 'Back', attendances_path, class:"btn btn-outline-dark btn-sm" %>
<% else %>
status: 403 'Forbidden'
<% end %>