
<% if Member.find_by(:email =>current_admin.email).admin? %>
<h1>Editing Member</h1>

<%= render 'form', member: @member %>

<%= link_to 'Delete', @member, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Show', @member, class:"btn btn-outline-dark btn-sm" %>
<%= link_to 'Back', members_path, class:"btn btn-outline-dark btn-sm" %>
<% else %>
status: 403 'Forbidden'
<% end %>
